@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body{
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.link:hover .eye{
    display: block !important;
}